.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  min-height: 308px;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 3fr 2fr;
    gap: 20px;
  }
}

.image_wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: none;
    gap: 32px;
  }
  .image_wrapper {
    aspect-ratio: 2/1;
  }
}
