.container {
  max-width: 383px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-bottom: 60px;
}

.img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.title {
  height: 64px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
