.main {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 1 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1260px) {
  .main {
    padding: 0px 30px;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 0px 20px;
  }
}
