.gallery_section {
  margin-bottom: 64px;
}

.gallery_title {
  text-align: center;
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .gallery_title {
    margin-bottom: 32px;
  }
  .gallery_section {
    margin-bottom: 32px;
  }
}
