@import url('./vendor/reset.css');
@import url('./vendor/fonts.css');
@import url('./styles/const.css');

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
